// Extra rules needed for the LMS red theme
//
// The _extras.scss file is imported after all other rules by
// the LMS Sass. For your own theme, you can override this file
// to add any custom rules that you need. You can also import
// partials directly into this file so that you can break your
// rules into modular pieces.

@import 'certificates';

/////////////////// Home page
.home header {
    box-shadow: none;
    background-color: #fff;
}

.home > header {
    box-shadow: none;
    background-color: #fff;
    background-image: url(/static/Yoomahtheme/images/header-bg.jpg);
    height: 420px;
}

.home > header .title {
    box-shadow: none;
    background: none !important;
    margin-left: 0px !important;
}

.home > header .title .course-search .search-button {
    border: 2px solid #0A3041 !important;
    background: #0a3055 !important;
}

.home > header .outer-wrapper {
    padding: 0;
    margin-top: 95px !important;
}

.home > header .title > .heading-group {
    width: 100%;
    text-align: center;
}

.home > header .title > .heading-group h1, .home > header .title > .heading-group p {
    text-align: center;
    color: #fff !important;
}

.animation-home-header-pop-up, .home > header .outer-wrapper {
    animation: none;
}

